@charset "utf-8";

// ------------ NAV LAYOUT ------------

nav {
	margin: auto;
	position: absolute;
	right: 50px;
	@extend .vertical;

	@include mq(spc) {
		right: 20px;
	}
		
	@include mq() {
		-webkit-transform: none;
		transform: none;
	}
	
	// 折りたたみ時
	@include mq() {
		position: fixed;
		z-index: 15;
		top: 0;
		overflow: hidden;
		width: 16.25rem;
		height: 100%;
		background-color: #fff;
	}
	
	ul {
		//padding: 0 10px;
		
		// clearfix
		@extend %clearfix;
		
		// 折りたたみ時
		@include mq() {
			width: 100%;
			padding: 20px 0;
			text-align: right;
		}

		li {
			float: left;
			padding: 10px 0;

			

			// 折りたたみ時
			@include mq() {
				width: 100%;
				float: none;
				padding: 0;
				text-align: left;
				border-bottom: #ececec 1px solid;
			}
			
			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 10px 15px;
				font-weight: 500;
				line-height: 20px;
				font-size: 12px;
				letter-spacing: 0.2em;

				@include mq(spc) {
					padding: 10px;
				}
				
				// 折りたたみ時
				@include mq() {
					padding: 15px;
				}
				
			}

			&.parent_menu {
				position: relative;
				background-image: url("../img/common/arrow/arrow_down_b.svg");
				background-size: 16px auto;
				background-position: bottom 5px center;
				background-repeat: no-repeat;

				// .lower_menu {
				// 	width: 0;
				// 	height: 0;
				// }

				@include mq() {
					background: inherit;
					.lower_menu {
						width: 50px;
						height: 50px;
						position: absolute;
						right: 0;
						top: 0;
						background-image: url("../img/common/arrow/arrow_down_b.svg");
						background-size: 12px auto;
						background-repeat: no-repeat;
						background-position: center;
					}
					&.open .lower_menu {
						background-image: url("../img/common/arrow/arrow_up_b.svg");
					}
				}

				
				ul.sub_menu {
					position: absolute;
					top: 100%;
					left: 50%;
					width: 200px;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					flex-direction: column;
					background: #fff;
					-moz-transform: translate(-50%, -2px);
					-ms-transform: translate(-50%, -2px);
					-webkit-transform: translate(-50%, -2px);
					transform: translate(-50%, -2px);
					z-index: 1;
					border: none;
					border-color: #fff;

					@extend .all_transitions;

					li {
						padding: 0 10px;
						height: 0;
						overflow: hidden;
						border: 0;
						border-color: #fff;
						display: block;
						float: inherit;
						
						@extend .all_transitions;

						a {
							background-image: url(../img/common/arrow/arrow_right_g.svg);
							background-repeat: no-repeat;
							background-size: 5px auto;
							background-position: right center;
							white-space: nowrap;
							text-align: left;
							opacity: 0;
							font-weight: 400;
							color: #6c80a0;
							font-size: 10px;
							text-align: center;
							padding: 0 7px;
							
							@extend .all_transitions;

						}
					}
					@include mq() {
						width: 100%;
						border: 0;
						position: static;
						@include transform-inherit;
						padding: 0;
						li {
							border: none;
							& + li {
								border-top: 0;
							}
							a {
								text-align: left;
								width: auto;
								display: inline-block;
								padding: 0 20px 0 30px;
							}
						}
					}
				}
				&:hover {
					ul.sub_menu {
						border: 1px solid #eee !important;
						li {
							padding: 0 10px;
							overflow: visible;
							height: auto;
							
							a {
								opacity: 1;
								padding: 7px 7px !important;
							}

							& + li {
								border-top: 1px solid #eee !important;
							}
						}
					}
					@include mq() {
						ul.sub_menu {
							border: none !important;
							li {
								height: 0;
								overflow: hidden;
								a {
									opacity: 0;
									padding: 0 20px 0 30px !important;
								}
								& + li {
									border-top: 0 !important;
								}
							}
						}
					}
				}
				
				&.open {
					ul.sub_menu {
						border: 0;
						li {
							padding: 0 10px;
							overflow: visible;
							height: auto;
							
							a {
								opacity: 1;
								padding-top: 10px !important;
								padding-bottom: 10px !important;
							}

							& + li {
								border-top: 0;
							}
						}
					}
				}
			}

			&.cv {
				padding-left: 145px;
				padding-right: 20px;
				position: relative;

				&:before, &:after {
					content: "";
					display: block;
					position: absolute;
					@include translate(0, -50%);
					top: 50%;
				}

				&:before {
					left: 40px;
					width: 100px;
					height: 3px;
					// background-image: -moz-linear-gradient( 0deg, $sub-color 0%, $main-color 100%);
					// background-image: -webkit-linear-gradient( 0deg, $sub-color 0%, $main-color 100%);
					// background-image: -ms-linear-gradient( 0deg, $sub-color 0%, $main-color 100%);
					// background-image: linear-gradient( 90deg, $sub-color 0%, $main-color 100%);
					@extend .gradient;
				}
				&:after {
					right: 0;
					width: 13px;
					height: 25px;
					background-image: url("../img/common/arrow/arrow_right_bl.png");
					background-size: 100%;
				}

				@include mq(spc) {
					padding-left: 120px;
					&:before {
						width: 80px;
						left: 25px;
					}
				}

				@include mq() {
					display: inline-block;
					width: auto;
					padding: 0;
					margin: 30px 20px 0;
					border: none;

					&:before {
						left: 0;
						width: 100px;
					}


					a {
						padding-left: 110px;
    					padding-right: 20px;
						
					}
				}
			}
			
			&.switching {
				display: none;
				
				// 折りたたみ時
				@include mq() {
					display: inherit;
				}
				
				// ロゴ
				img {
					width: 90%;
					height: auto;
					margin: 0 auto 0 auto;
					max-width: 150px;
				}
				
				// ドキュメントメニュー
				ul {
					padding: 15px 0;
					
					li {
						a {
							padding: 3px 15px;
							font-weight: normal;
							border-bottom: none;
						}
					}
				}
			}
		}
	}


}